<p *ngIf="loading">Loading customers</p>
<div *ngIf="!loading">
  <button (click)="onCreateClick()">NEW CUSTOMER</button>
  <table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Extra actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.name}}</td>
      <td>
        <button (click)="onEditClick(customer)">Edit</button>
      </td>
      <td>
        <button (click)="onDeleteClick(customer)" *ngIf="!customer.busy">Delete</button>
      </td>
      <td>
        <button (click)="showClientPurchases(customer)">Purchases</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
